<app-card title="Clientes" subtitle="Lista de clientes" (eventClick)="onEventClick()">
    <div class="d-flex justify-content-center mb-3">
        <div class="legend-clients">
            <h4>
                {{ customerKpi.ageAverage | number:'0.2-2' }}
            </h4>
            <small>Promedio Edades</small>
        </div>
        <div class="legend-clients">
            <h4>{{ customerKpi.ageStandardDeviation | number:'0.2-2' }}</h4>
            <small>Desviación Estándar</small>
        </div>
    </div>
    <app-clients-list></app-clients-list>
</app-card>