<div class="container-table">
    <table class="table table-bordered table-striped">
        <thead class="sticky-top">
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Fecha Nacimiento</th>
                <th>Fecha Muerte(Probable)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clientsList; let i = index">
                <td class="align-middle">{{ item.name }}</td>
                <td class="align-middle">{{ item.lastName }}</td>
                <td class="align-middle">{{ item.age }}</td>
                <td class="align-middle">{{ renderDate(item.birthDate) }}</td>
                <td class="align-middle">
                    {{ renderDate(item.probableDeathDate) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>