<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 title-container">{{ title }}</h1>
    <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="onClickEvent()" *ngIf="hasAction">
        <i class="fas fa-user-plus  fa-sm text-white-50"></i>
        Crear Cliente
    </button>
</div>

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{subtitle}}</h6>
            </div>
            <div class="card-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>