<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">TPO Challenge</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/']">
            <i class="fas fa-user-plus fa-cog"></i>
            <span>Lista de clientes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/projection">
            <i class="fas fa-list-ul"></i>
            <span>Análisis de cliente</span>
        </a>
    </li>

</ul>